body{background-color: rgb(24, 23, 23);}

    .bordes {
    border: 2px solid #000;}
    .banner-info { position:relative}
     #card2{border: 2px solid #000;}
     #titulocard {color: white;
        display: flex;
        justify-content: center;
       font: bold;}

      .col-md-6 { align-items: center; color: white;}

      p {font-family: 'Yantramanav', sans-serif;}
      #textoPortada { width: 400px;
        color: rgb(0, 0, 0);
        font-weight: bolder;
        background-color: rgba(128, 128, 128, 0.5);
        padding: 30px;
        top: 180px;
        margin-left: 690px;
        transform: translate(20%, -20%);
        position: absolute;
        
        
      }
    #botones {
       text-align: center;}
       .botones button {
        display: inline-block;}
h2 {font-family: 'Sriracha', cursive;  font: bolde;}
    h3 { font-family: 'Yantramanav', sans-serif;
      font-family: 'Cabin', sans-serif;
       color: rgb(207, 202, 202);}

#formulario {padding-top: 75px;}
    .form-label {color: whitesmoke; 
    }
footer {margin-top: 50px;}

 .card-group{display: flex;
justify-content: center;
}
.card1{border: solid;
     border-color: green;
    text-align: center;}
  .card2{border: solid;
      border-color: blue;
     text-align: center;}
  .card3{border: solid;
      border-color: red;
     text-align: center;}